<!-- Dashboard View -->
<div class="text-center">

  <!-- Shown for users that are logged in -->
  <div ng-if="data">
    <h2>Donation Dashboard</h2>

    <form class="form-inline text-left filters-form">
      <div class="form-group">
        <label>Filter Results:</label>

        <select ng-model="dateSelect" ng-change="setDateFilter(dateSelect)" class="form-control">
          <option value="" selected disabled>Month:</option>
          <option ng-repeat="date in selectDates | orderBy: ['-year', 'month_num']">
            {{date.month_str}}, {{date.year}}
          </option>
        </select>

        <button class="btn btn-danger btn-sm">&times;</button>

        <select ng-model="statusSelect" ng-change="setStatusFilter(statusSelect)" class="form-control">
          <option value="" selected disabled>Status:</option>
          <option value="thanked">Thanked</option>
          <option value="not-thanked">Not Thanked</option>
        </select>
        <button class="btn btn-danger btn-sm">&times;</button>

      </div>
    </form>
    {{sortType}} {{sortReverse}}
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>
              <a ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
                <span ng-show="sortType == 'date' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'date' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>

            <th>
              <a ng-click="sortType = 'donor_name'; sortReverse = !sortReverse">Donor Name
                <span ng-show="sortType == 'donor_name' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'donor_name' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>

            <th>Platform</th>
            <th>Origin</th>

            <th>
              <a ng-click="sortType = 'donation_amt'; sortReverse = !sortReverse">Amount
                <span ng-show="sortType == 'donation_amt' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'donation_amt' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>

            <th>
              <a ng-click="sortType = 'thanked'; sortReverse = !sortReverse">Thanked
                <span ng-show="sortType == 'thanked' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'thanked' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>

            <th>Send Thank You</th>

            <th>
              <a ng-click="sortType = 'thanked_date'; sortReverse = !sortReverse">Date Thanked
                <span ng-show="sortType == 'thanked_date' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'thanked_date' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- '-date' -->
          <tr ng-repeat="donation in donations | orderBy:sortType:sortReverse">
            <td>{{ donation.date | date:'MM/dd/yyyy' }}</td>
            <td>{{ donation.donor_name }}</td>
            <td>{{ donation.platform_name }}</td>
            <td>{{ donation.origin }}</td>
            <td>{{ donation.donation_amt | currency }}</td>
            <td>
              <span ng-show="donation.thanked" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span ng-hide="donation.thanked" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            </td>
            <td>
              <button ng-click="thank(donation)" ng-hide="donation.thanked" class="btn btn-danger">Thank</button>
              <!-- show the reprint button if donation thanked = true, address exists, email does not exist -->
              <button ng-click="thank(donation)" ng-hide="!donation.donor_address || !donation.thanked || donation.donor_email.length > 1" class="btn btn-xs btn-primary" type="button">re-print</button>
            </td>
            <td>
              <span ng-show="donation.thanked">{{ donation.thanked_date | date: 'MM/dd/yyyy' }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
