<!-- Dashboard View -->
<div class="text-center">

  <!-- Shown for users that are NOT logged in -->
  <section ng-hide="data">
    <!-- button image from Googles sign-in button brand guidelines page -->
    <a href= "/auth/google"><img src="/images/btn_google_signin_dark_normal_web.png" /></a>
  </section>

  <!-- Shown for users that are logged in -->
  <div ng-if="data">
    <h2>Donation Dashboard</h2>
    <form class="form-inline text-left filters-form">
      <div class="form-group">
        <label>Filter Results:</label>

        <select class="form-control">
          <option value="" selected disabled>Month:</option>
          <option value="">jan</option>
          <option value="">feb</option>
        </select>
        <button class="btn btn-danger btn-sm">&times;</button>

        <select class="form-control">
          <option value="" selected disabled>Status:</option>
          <option value="thanked">Thanked</option>
          <option value="not-thanked">Not Thanked</option>
        </select>
        <button class="btn btn-danger btn-sm">&times;</button>

      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Date
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </th>
            <th>Donor Name</th>
            <th>Platform</th>
            <th>Origin</th>
            <th>Amount</th>
            <th>Thanked</th>
            <th>Send Thank You</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="donation in donations | orderBy: 'date'">
            <td>{{ donation.date | date:'MM/dd/yyyy' }}</td>
            <td>{{ donation.donor_name }}</td>
            <td>{{ donation.platform_name }}</td>
            <td>{{ donation.origin }}</td>
            <td>{{ donation.donation_amt | currency }}</td>
            <td>
              <span ng-show="donation.thanked" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span ng-hide="donation.thanked" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            </td>
            <td><button ng-hide="donation.thanked" class="btn btn-danger">Thank</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
