<!-- Dashboard View -->
<div class="text-center">

  <!-- Shown for users that are logged in -->
  <div ng-if="data">
    <form class="form filters-form">
      <fieldset>
        <div class="form-group">
          <!-- Filter by month select group  -->
          <div class="col-sm-4">
            <div class="input-group">
              <ui-select allow-clear ng-model="selected.value" theme="bootstrap">
                <ui-select-match placeholder="Filter by Month..." >{{$select.selected.month_str}}, {{$select.selected.year}}</ui-select-match>
                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.month_str">
                  <span ng-bind-html="(item.month_str) + ', ' + (item.year)"></span>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn">
                <button type="button" ng-click="selected.value = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </span>
            </div>
          </div>
          <!-- Filter by Status select group  -->
          <div class="col-sm-4">
            <div class="input-group">
              <ui-select allow-clear ng-model="thankSelected.value" theme="bootstrap">
                <ui-select-match placeholder="Filter By Status..." >{{$select.selected.display}}</ui-select-match>
                <ui-select-choices repeat="status in (statusArray | filter: $select.search) track by status.display">
                  <span ng-bind-html="status.display"></span>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn">
                <button type="button" ng-click="thankSelected.value = undefined" class="btn btn-default">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="table-responsive">
      <table class="table  table-striped table-hover">
        <thead>
          <tr>
            <th>
              <a ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
                <i ng-show="sortType != 'date'" class="fa fa-sort" aria-hidden="true"></i>
                <span ng-show="sortType == 'date' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'date' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>
            <th>
              <a ng-click="sortType = 'donor_name'; sortReverse = !sortReverse">Donor Name
                <i ng-show="sortType != 'donor_name'" class="fa fa-sort" aria-hidden="true"></i>
                <span ng-show="sortType == 'donor_name' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'donor_name' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>
            <th>Platform</th>
            <th>Origin</th>
            <th>
              <a ng-click="sortType = 'donation_amt'; sortReverse = !sortReverse">Amount
                <i ng-show="sortType != 'donation_amt'" class="fa fa-sort" aria-hidden="true"></i>
                <span ng-show="sortType == 'donation_amt' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'donation_amt' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>
            <th>
              <a ng-click="sortType = 'thanked'; sortReverse = !sortReverse">Thanked
                <i ng-show="sortType != 'thanked'" class="fa fa-sort" aria-hidden="true"></i>
                <span ng-show="sortType == 'thanked' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'thanked' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>
            <th>Thank</th>
            <th>
              <a ng-click="sortType = 'thanked_date'; sortReverse = !sortReverse">Date Thanked
                <i ng-show="sortType != 'thanked_date'" class="fa fa-sort" aria-hidden="true"></i>
                <span ng-show="sortType == 'thanked_date' && !sortReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                <span ng-show="sortType == 'thanked_date' && sortReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="donation in donations | orderBy:sortType:sortReverse | filter: ({donation_month: selected.value.month_num, donation_year: selected.value.year, thanked: thankSelected.value.value})">
            <td>{{ donation.date | date:'MM/dd/yyyy' }}</td>
            <td>{{ donation.donor_name }}</td>
            <td>{{ donation.platform_name }}</td>
            <td>{{ donation.origin }}</td>
            <td>{{ donation.donation_amt | currency }}</td>
            <td>
              <span ng-show="donation.thanked" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </td>
            <td>
              <button ng-click="thank(donation)" ng-hide="donation.thanked || isThanking === donation._id" class="btn btn-sm btn-accent">Thank</button>
              <i ng-show="isThanking === donation._id" class="fa fa-spinner fa-pulse fa-fw"></i>
              <!-- show the reprint button if donation thanked = true, address exists, email does not exist -->
              <button ng-click="thank(donation)" ng-hide="!donation.donor_address || !donation.thanked || donation.donor_email.length > 1 || isThanking === donation._id" class="btn btn-xs btn-accent-secondary" type="button">re-print</button>
            </td>
            <td>
              <span ng-show="donation.thanked">{{ donation.thanked_date | date: 'MM/dd/yyyy' }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
