<!-- Home View -->
<div class="text-center">

    <!-- Shown for users that are logged in -->
    <section ng-if="data">
        <h2>Home</h2>
        <!-- UPLOAD MODAL -->
        <div ng-controller="ModalCtrl" class="modal-demo">
            <script type="text/ng-template" id="uploadReportsModal.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Upload Reports</h3>
                    <span class="glyphicon glyphicon-open pull-right" aria-hidden="true"></span>
                </div>
                <div class="modal-body" id="modal-body">
                    <div ng-repeat="platform in platforms">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <label class="btn btn-primary btn-file" >
                                    {{ platform.name }}
                                    <input type="file" class="hidden" ng-model="upload.file" ngf-select="uploadFile($file, $invalidFiles, $index)" ngf-max-size="25MB" required>
                                </label>
                            </div>
                            <div class="col-xs-6 text-center">
                                <uib-progressbar max="100" value="platform.progress"  type="success"><span style="color:white; white-space:nowrap;">{{platform.progress}}%</span></uib-progressbar>
                            </div>
                            <div class="col-xs-2">
                                <span ng-hide="platform.progress!=100" class="glyphicon glyphicon-ok-circle pull-left animate-show" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" ng-click="save()">Save</button>
                    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
                </div>
            </script>

            <button type="button" class="btn btn-success" ng-click="open('lg')">Get Started</button>


        </div>
    </section>

</div>
