<!-- Home View -->
<div class="text-center">
    <p>Auth Status: {{data}}</p>
    <hr>

    <!-- Shown for users that are NOT logged in -->
    <section ng-hide="data">
        <!-- button image from Googles sign-in button brand guidelines page -->
        <a href="/auth/google"><img src="/images/btn_google_signin_dark_normal_web.png" /></a>
    </section>

    <!-- Shown for users that are logged in -->
    <section ng-if="data">
        <h2>Home</h2>
        <p>You are logged in!</p>
        <p>This is where the main page info will go</p>

        <!-- UPLOAD MODAL -->
        <div ng-controller="ModalCtrl" class="modal-demo">
            <script type="text/ng-template" id="uploadReportsModal.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Upload Reports</h3>
                    <span class="glyphicon glyphicon-open pull-right" aria-hidden="true"></span>
                </div>
                <div class="modal-body" id="modal-body">
                    <div ng-repeat="platform in platforms">
                        <div class="row">
                            <div class="col-xs-4">
                                <button ng-click="uploadFile(platform)" class="btn btn-primary">Upload {{ platform }} Report</button>
                            </div>
                            <div class="col-xs-4 text-center">
                                progress bar here
                            </div>
                            <div class="col-xs-4">
                                <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" ng-click="save()">Save</button>
                    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
                </div>
            </script>

            <button type="button" class="btn btn-default" ng-click="open('lg')">Get Started</button>


        </div>
    </section>

</div>
