<!-- Consider this the main view -->
<div class="text-center">


<h2 class="shadowed-sm-hdr">Login</h2>
  <!-- Shown for users that are NOT logged in -->
  <div ng-hide="auth.loggedIn" class="shadowed-sm">

    <div class="inner">

      <!-- I got this button image from Googles sign-in button brand guidelines page -->
      <a href= "/auth/google"><img src="/images/btn_google_signin_dark_normal_web.png" /></a>
    </div>

  </div>

  <!-- Shown for users that are logged in -->
  <section ng-show="auth.loggedIn">
    <p>
      You are logged in!
    </p>
  </section>
</div>
