<!-- Templates View -->
<div class="text-center">
  <!-- Shown for users that are NOT logged in -->
  <section ng-hide="templates.data">
    <!-- button image from Googles sign-in button brand guidelines page -->
    <a href= "/auth/google"><img src="/images/btn_google_signin_dark_normal_web.png" /></a>
  </section>

  <!-- Shown for users that are logged in -->
  <section ng-if="templates.data">
    <h2>Templates</h2>
    <p>You are logged in!</p>
    <p>This is where the private template page info will go</p>
  </section>
</div>
