<!-- Templates View -->
<div class="text-center">

  <!-- Shown for users that are logged in -->
  <section ng-if="data">
    <uib-tabset active="active" class="template-tabs">
      <!-- Email Template tab -->
      <uib-tab index="0" heading="Email Template">
        <ng-form>
          <div class="wrapper">
            <div class="form-group">
              <div class="intro">
                <p>Dear <span>_____________</span>,</p>
                <p>Thank you for your recent donation of <span>$_______ </span> to Spot's Last Stop.</p>
              </div>
              <textarea ng-model="template.email" class="form-control" rows="9" cols="80"></textarea>
              <div class="signature">
                <p>Again, Thank you!</p>
                <p>Grant and Casey Adams</p>
                <p>Founders of Spot's Last Stop</p>
                <p>info@spotslaststop.org</p>
              </div>
            </div>
            <button ng-hide="saveSuccess" ng-click="updateEmailTemplate()" class="btn btn-accent">Save</button>
            <div ng-show="saveSuccess" class="alert alert-success" role="alert">Template Saved
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
          </div>
        </ng-form>
      </uib-tab>

      <!-- PDF Template Tab -->
      <uib-tab index="1">
        <uib-tab-heading>
          Letter Template
        </uib-tab-heading>
        <ng-form>
          <div class="wrapper">
            <div class="form-group">
              <div class="intro">
                <p>Dear <span>_____________</span>,</p>
                <p>Thank you for your recent donation of <span>$_______ </span> to Spot's Last Stop.</p>
              </div>
              <textarea ng-model="template.letter" class="form-control" rows="19" cols="80"></textarea>
              <div class="signature">
                <p>Thank you again!</p>
                <p>Casey and Grant Adams</p>
                <p>Founder and Directors</p>
              </div>
            </div>
            <button ng-hide="saveSuccess" ng-click="updateLetterTemplate()" class="btn btn-accent">Save</button>
            <div ng-show="saveSuccess" class="alert alert-success" role="alert">Template Saved
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
          </div>
        </ng-form>
      </uib-tab>
    </uib-tabset>

  </section>
</div>
