/* -- GLOBALS -- */
html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  color: #515150;
  margin-top: 35px; }

.btn.ng-hide.ng-hide-animate {
  display: none !important; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none; }

.btn-accent, .btn-accent-secondary, .btn-accent-tertiary {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #e54b45;
  color: #e54b45;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease; }
  .btn-accent:hover, .btn-accent-secondary:hover, .btn-accent-tertiary:hover {
    background-color: #e54b45;
    border: 2px solid transparent;
    color: #fff; }
  .btn-accent:focus, .btn-accent-secondary:focus, .btn-accent-tertiary:focus {
    color: #e54b45; }
  .btn-accent:focus:hover, .btn-accent-secondary:focus:hover, .btn-accent-tertiary:focus:hover {
    color: #fff; }

.btn-accent-secondary {
  border-color: #37aeb0;
  color: #37aeb0; }
  .btn-accent-secondary:hover {
    background-color: #37aeb0; }
  .btn-accent-secondary:focus {
    color: #37aeb0; }

.btn-accent-tertiary {
  border-color: #439f46;
  color: #439f46; }
  .btn-accent-tertiary:hover {
    background-color: #439f46; }
  .btn-accent-tertiary:focus {
    color: #439f46; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.wrapper {
  min-height: 84%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; }

.logo_img {
  max-height: 49px;
  border: 1px solid #fff;
  margin-top: -14px;
  padding-top: 2px; }

.navbar {
  background-color: #fff;
  box-shadow: 0 3px 6px -6px #222; }
  .navbar a {
    color: #e54b45; }

.navbar-toggle .icon-bar {
  background-color: #DC0000; }

.nav > li {
  text-align: right; }

.navbar-collapse[aria-expanded="true"] {
  border-top: 1px solid #eee; }

/* Header */
.hdr-logo {
  height: 125px;
  margin: 0 auto; }

.lined {
  line-height: 0.5;
  text-align: center;
  display: none; }
  .lined span {
    display: inline-block;
    position: relative; }
    .lined span:before, .lined span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid #37aeb0;
      top: 0;
      width: 500px;
      margin-top: 60px; }
    .lined span:before {
      right: 100%;
      margin-right: 15px; }
    .lined span:after {
      left: 100%;
      margin-left: 15px; }

.shadowed-sm-hdr {
  text-transform: uppercase;
  margin: 10vh auto 15px; }
  .shadowed-sm-hdr.error {
    color: #e54b45;
    text-shadow: 1px 1px #cccccc;
    text-transform: none; }

.shadowed-sm {
  min-height: 30vh;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 1px 28px 2px #cccccc;
  display: flex;
  justify-content: center; }
  .shadowed-sm .inner {
    align-self: center;
    padding: 20px; }
  .shadowed-sm a {
    cursor: pointer; }
  .shadowed-sm img, .shadowed-sm p {
    margin-bottom: 20px; }
  .shadowed-sm .error-img {
    max-height: 100px;
    margin: 0 auto; }
  .shadowed-sm p {
    padding: 0 60px;
    font-size: 18px; }

.modal-dialog {
  margin-top: 10%; }

.modal-header {
  padding: 20px; }
  .modal-header .modal-title {
    display: inline-block;
    margin-left: 10px; }
  .modal-header .glyphicon {
    transform: scale(2, 2);
    top: 12px;
    right: 15px; }

.modal-body {
  padding: 15px; }
  .modal-body .row {
    padding: 20px 0; }
  .modal-body label {
    display: inline-block; }
  .modal-body .glyphicon {
    right: 15px; }
  .modal-body .progress, .modal-body .col-xs-2 {
    margin-top: 7px; }
  .modal-body .animate-show {
    transition: all linear 1.5s;
    opacity: 1; }
  .modal-body .animate-show.ng-hide {
    opacity: 0; }
  .modal-body .progress-bar-success {
    color: #439f46; }

.modal-footer {
  padding: 20px; }

.filters-form {
  margin-top: 30px; }
  .filters-form .col-sm-4 {
    padding-left: 0; }
    .filters-form .col-sm-4:first-of-type {
      margin-bottom: 10px; }
  .filters-form span.glyphicon-trash {
    color: #d9251e; }

.table > thead > tr > th {
  border-bottom: none; }

.table > tbody > tr > td {
  border-top: none; }

.table-responsive {
  border: none; }

.table > tbody > tr > td {
  padding: 12px; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d9f3f3; }

.ui-select-bootstrap .ui-select-choices-row.active > span {
  background-color: #d9f3f3;
  color: #515150; }

.table {
  margin: 20px auto 60px; }
  .table thead {
    background-color: #3f3f3f;
    color: #fff; }
    .table thead th {
      padding: 12px !important; }
      .table thead th:first-of-type {
        border-radius: 10px 0 0 10px; }
      .table thead th:last-of-type {
        border-radius: 0 10px 10px 0; }
    .table thead a {
      color: #fff; }
      .table thead a:hover {
        text-decoration: none; }
    .table thead i {
      margin-left: 3px; }
  .table tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent; }
  .table tbody span.glyphicon-ok {
    color: #37aeb0; }
  .table tbody tr {
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd; }
    .table tbody tr:first-of-type {
      border-top: 2px solid #ddd; }
    .table tbody tr:last-of-type {
      border-bottom: 2px solid #ddd; }
  .table th {
    text-align: center; }
    .table th a {
      cursor: pointer; }
  .table td {
    vertical-align: middle !important; }

.input-group > .ui-select-bootstrap.dropdown:focus {
  outline: none !important; }

.form-control:focus {
  box-shadow: none;
  border-color: #ccc; }

.input-group-btn .btn.active.focus, .input-group-btn .btn.active:focus, .input-group-btn .btn.focus, .input-group-btn .btn:active.focus, .input-group-btn .btn:active:focus, .input-group-btn .btn:focus {
  outline: none !important; }

.ui-select-bootstrap .ui-select-choices-row > span:focus, .ui-select-bootstrap .ui-select-choices-row > span:hover {
  outline: none !important; }

.ui-select-match:focus {
  outline: none !important; }

.template-tabs {
  margin-top: 30px; }
  .template-tabs .wrapper {
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #3f3f3f;
    border-top: none;
    min-height: 50vh;
    margin-bottom: 20px;
    color: #273238;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .template-tabs .wrapper .intro {
      text-align: left;
      padding: 20px 0; }
    .template-tabs .wrapper textarea {
      border: 2px solid #3f3f3f;
      padding: 7px;
      box-shadow: inset 0 0 10px #e0e0e0; }
      .template-tabs .wrapper textarea:focus {
        box-shadow: 0px 0px 2px 1px #6EACFD; }
    .template-tabs .wrapper .alert {
      margin: -5px auto 0;
      width: 50%; }
  .template-tabs span {
    color: #78d3d5;
    margin: 0 5px; }

.uib-tab-heading {
  text-transform: uppercase;
  color: #e54b45; }

.nav-tabs {
  box-sizing: border-box;
  border-bottom: 5px solid #3f3f3f; }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    text-transform: uppercase;
    color: #e54b45; }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    margin-bottom: -6px;
    box-sizing: border-box;
    border: 5px solid #3f3f3f;
    border-bottom: none; }
  .nav-tabs > li > a {
    text-transform: uppercase;
    color: #e54b45;
    margin-bottom: -4px;
    border: 5px solid #3f3f3f;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: none; }
    .nav-tabs > li > a:hover {
      border: 5px solid #3f3f3f;
      border-bottom: none;
      font-style: italic;
      background-color: transparent; }
  .nav-tabs > li:nth-child(2) {
    margin-left: 3px; }

.template-tabs p {
  font-size: 15px;
  color: #2b8889; }

.signature {
  margin-top: 25px; }
  .signature p {
    display: block;
    text-align: left;
    margin-bottom: 0px; }
    .signature p:first-of-type {
      margin-bottom: 20px; }

.footer, .push {
  height: 120px; }

.footer {
  color: #fff;
  background-color: #273238;
  position: relative;
  bottom: 0;
  width: 100%; }
  .footer a {
    color: #eee; }

.footer-list {
  list-style: none;
  padding-left: 0;
  padding: 20px 0 0 0;
  text-align: center;
  margin-top: 35px; }
  .footer-list li {
    display: inline; }
    .footer-list li:not(:first-child):before {
      content: ' | ';
      padding: 20px;
      color: #eee; }

.copyright {
  margin: 5px 0 5px;
  color: #6b6b69;
  font-size: 12px; }
  .copyright span {
    color: #e54b45;
    margin: 0 5px; }
    .copyright span.org-name {
      margin-left: 0; }

.rzslider {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 20px; }
  .rzslider .rz-tick-legend,
  .rzslider .rz-bubble {
    display: none; }
  .rzslider .rz-pointer {
    background-color: #37aeb0;
    width: 20px;
    height: 20px;
    top: -9px;
    margin-left: 5px; }
  .rzslider span:focus {
    outline: none; }
  .rzslider .rz-selection {
    background-color: #37aeb0; }
  .rzslider .rz-tick.rz-selected {
    background-color: #37aeb0; }
  .rzslider .rz-pointer:after {
    display: none; }

.home-stats {
  margin-top: 30px;
  background-color: #3f3f3f;
  padding: 30px 20px; }

.home-data {
  background-color: #fff;
  box-shadow: 0px 1px 28px 2px #0e1214;
  padding: 20px;
  box-sizing: border-box; }
  .home-data h2 {
    font-size: 44px;
    margin: 30px auto;
    color: #37aeb0; }

.timer_hdr {
  margin: 0 auto 20px;
  color: #515150;
  font-size: 20px; }

.shadowed-lg {
  box-shadow: 0px 1px 28px 2px #0e1214;
  background-color: #fff;
  margin: 40px auto 0;
  width: 100%;
  padding: 50px 0 30px; }
  .shadowed-lg .row {
    margin-bottom: 30px; }
    .shadowed-lg .row .col-xs-2 {
      padding-right: 5px;
      padding-left: 5px; }
      .shadowed-lg .row .col-xs-2:first-of-type {
        margin-left: 4.555555555%; }
    .shadowed-lg .row h4 {
      font-size: 44px;
      color: #37aeb0; }
    .shadowed-lg .row p {
      text-transform: uppercase;
      display: none; }

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .lined {
    display: block; }

  .shadowed-sm {
    width: 50%; }

  .shadowed-lg {
    padding: 20px 60px 40px;
    width: 80%; }
    .shadowed-lg .row h4 {
      font-size: 34px; }
    .shadowed-lg .row p {
      display: inline-block; }

  .home-stats {
    padding: 45px; }

  .home-data {
    margin: 0 auto;
    width: 90%; }
    .home-data h3 {
      margin: 50px auto; }

  .navbar .navbar-nav {
    float: right !important; }

  .shadowed-lg {
    width: 70%; }

  .timer_hdr {
    font-size: 24px;
    margin: 20px auto 25px; }

  .rzslider {
    width: 80%; }
    .rzslider .rz-tick-legend {
      display: inline-block; }

  .filters-form .col-sm-4:first-of-type {
    margin-bottom: 0; }

  .copyright {
    font-size: 14px; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Xtra Large devices (Xlarge desktops, 1500px and up) */

/*# sourceMappingURL=master.css.map */
