// -- HOME -- //
.home-stats {
  margin-top: 30px;
  background-color: $accentGrey;
  padding: 30px 20px;
}
.home-data {
  background-color: $white;
  @include box-shadow(darken($footerBkgColor, 12%));
  padding: 20px;
  box-sizing: border-box;
  h2 {
    font-size: 44px;
    margin: 30px auto;
    color: $secondaryAccentColor;
  }
}
.timer_hdr {
  margin: 0 auto 20px;
  color: $mainTextColor;
  font-size: 20px;
}
.shadowed-lg {
  @include box-shadow(darken($footerBkgColor, 12%));
  background-color: $white;
  margin: 40px auto 0;
  width: 100%;
  padding: 50px 0 30px;
  .row {
    margin-bottom: 30px;
    .col-xs-2 {
      padding-right: 5px;
      padding-left: 5px;
      &:first-of-type {
        margin-left: 4.555555555%;
      }
    }
    h4 {
      font-size: 44px;
      color: $secondaryAccentColor;
    }
    p {
      text-transform: uppercase;
      display: none;
    }
  }
}

// -- CUSTOM SLIDER -- //
.rzslider {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
  .rz-tick-legend,
  .rz-bubble {
    display: none;
  }
  .rz-pointer {
    background-color: $accentRed;
    width: 20px;
    height: 20px;
    top: -9px;
    margin-left: 5px;
  }
  span {
    &:focus {
        outline: none;
    }
  }
  .rz-selection {
    background-color: $accentRed;
  }
  .rz-tick.rz-selected {
    background-color: $accentRed;
  }
  .rz-pointer {
    &:after {
      display: none;
    }
  }
}
