//FONTS
$mainFont: 'Open Sans', sans-serif;

//COLORS
$white: #fff;
$black: #000;
$shadowColor: #222;
$slsRed: #DC0000;
$darkGrey: #333;
$boxShadowColor: rgba(204,204,204,1);
$mainTextColor: #515150;

//temp colors
$lightGrey: #eee;

//MIXINS
@mixin box-shadow($color) {
  box-shadow: 0px 1px 5px 2px $color;
}
