//MIXINS
@mixin box-shadow($color) {
  box-shadow: 0px 1px 28px 2px $color;
}
@mixin box-shadow-sm($color) {
  box-shadow: 0px 1px 5px 2px $color;
}
@mixin box-shadow-xs($color) {
  box-shadow: 0px 0px 2px 1px $color;
}
