@import 'settings';
@import 'tools';

// * * Responsive Styles * * //
// * * Extra small devices (phones, less than 768px) * * //
// * * No media query since this is the default in Bootstrap * * //

// -- GLOBALS -- //
html, body {
  font-family: $mainFont;
  height: 100%;
  color: $mainTextColor;
  margin-top: 35px;
}
//remove delay caused by ng-Animate on ng-hide for buttons
.btn.ng-hide.ng-hide-animate{
  display: none !important;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
.btn-accent {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid $accentRed;
  color: $accentRed;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease;
  &:hover {
    background-color: $accentRed;
    border: 2px solid transparent;
    color: $white;
  }
  &:focus {
    color: $accentRed;
  }
  &:focus:hover {
    color: $white;
  }
}
.btn-accent-secondary {
  @extend .btn-accent;
  border-color: $secondaryAccentColor;
  color: $secondaryAccentColor;
  &:hover {
    background-color: $secondaryAccentColor;
  }
  &:focus {
    color: $secondaryAccentColor;
  }
}
.btn-accent-tertiary {
  @extend .btn-accent;
  border-color: $tertiaryAccentColor;
  color: $tertiaryAccentColor;
  &:hover {
    background-color: $tertiaryAccentColor;
  }
  &:focus {
    color: $tertiaryAccentColor;
  }
}
// -- LAYOUT -- //
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.wrapper {
  min-height: 84%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; // the bottom margin is the negative value of the footer's height
}

// -- NAVBAR & HEADER -- //
@import 'navbar-header';

// -- LOGIN & ERROR -- //
@import 'login-error';

// -- MODAL -- //
@import 'modal';

// -- DASHBOARD -- //
@import 'dashboard';

// -- TEMPLATES -- //
@import 'templates';

// -- FOOTER -- //
@import 'footer';

// -- HOME -- //
@import 'home';

// -- MEDIA QUERIES -- //
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // -- GLOBAL --//
  .lined {
    display: block;
  }
  // -- LOGIN & ERROR -- //
  .shadowed-sm {
    width: 50%;
  }
  .shadowed-lg {
    padding: 20px 60px 40px;
    width: 80%;
     .row {
       h4 {
         font-size: 34px;
       }
       p {
         display: inline-block;
       }
     }
  }
  // -- HOME -- //
  .home-stats {
    padding: 45px;
  }
  .home-data {
    margin: 0 auto;
    width: 90%;
    h3 {
      margin: 50px auto;
    }
  }
  .navbar {
    .navbar-nav {
      float: right !important;
    }
  }
  .shadowed-lg {
    width: 70%;
  }
  .timer_hdr {
    font-size: 24px;
    margin: 20px auto 25px;
  }

  // -- CUSTOM SLIDER -- //
  .rzslider {
    width: 80%;
    .rz-tick-legend {
      display: inline-block;
    }
  }
  // -- DASHBOARD --//
  .filters-form {
    .col-sm-4 {
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }
  // -- TEMPLATES -- //
  .template-tabs {
    padding: 50px 70px;
    .wrapper {
      .alert {
        width: 30%;
      }
    }
  }
  // -- FOOTER -- //
  .copyright {
    font-size: 14px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Xtra Large devices (Xlarge desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {}
