@import 'settings';
@import 'tools';

/* Responsive Styles */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* -- GLOBALS -- */
html, body {
  font-family: $mainFont;
  height: 100%;
  color: $mainTextColor;
}

// -- LAYOUT -- //
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.wrapper {
  min-height: 84%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; // the bottom margin is the negative value of the footer's height
}

// -- NAVBAR -- //
.logo_img {
  max-height: 50px;
  border: 1px solid $white;
  margin-top: -14px;
  padding-top: 2px;
}
.navbar  {
  background-color: $white;
  box-shadow: 0 3px 6px -6px $shadowColor;
  a {
    color: $slsRed;
  }
}
.navbar-toggle  {
  .icon-bar {
    background-color: #DC0000;
  }
}
// -- LOGIN & ERROR -- //
.shadowed-sm-hdr {
  text-transform: uppercase;
  margin: 10vh auto 15px;
  &.error {
    color: $slsRed;
    text-shadow: 1px 1px $boxShadowColor;
    text-transform: none;
  }
}
.shadowed-sm {
  min-height: 30vh;
  width: 80%;
  margin: 0 auto;
  @include box-shadow($boxShadowColor);
  display: flex;
  justify-content: center;
  .inner {
    align-self: center;
    padding: 20px;
  }
  a {
    cursor: pointer;
  }
  img, p {
    margin-bottom: 20px;
  }
  .error-img {
    max-height: 100px;
    margin: 0 auto;
  }
  p {
    padding: 0 60px;
    font-size: 18px;
  }
}

// -- MODAL -- //
.modal-dialog {
  margin-top: 12%;
}
.modal-header {
  padding: 20px;
  .modal-title {
    display: inline-block;
    margin-left: 10px;
  }
  .glyphicon {
    transform: scale(2.0, 2.0);
    top: 12px;
    right: 15px;
  }
}
.modal-body {
  padding: 15px;
  .row {
    padding: 20px 0;
  }
  label {
    display: inline-block;
  }
  .glyphicon {
    right: 15px;
  }
  .progress, .col-xs-2 {
    margin-top: 7px;
  }
  //delay success check show by 1.5s
  .animate-show {
    transition: all linear 1.5s;
    opacity: 1;
  }
  .animate-show.ng-hide {
    opacity:0;
  }
}
.modal-footer {
  padding: 20px;
}
// -- DASHBOARD -- //
.filters-form {
  margin-top: 30px;
  .col-sm-4 {
    padding-left: 0;
  }
}
.table {
  margin: 20px auto 60px;
  th {
    text-align: center;
    a {
      cursor: pointer;
    }
  }
  td {
    vertical-align: middle !important;
  }
}
// -- TEMPLATES -- //
.template-tabs {
  margin-top: 30px;
  .wrapper {
    padding: 20px;
    border: 1px solid $outlineColor;
    border-top: none;
    min-height: 50vh;
    .intro {
      text-align: left;
      padding: 20px 0;
    }
  }
  span {
    color: darken(#ddd, 10%);
    margin: 0 5px;
  }
}
.signature {
  margin-top: 25px;
  p {
    &:first-of-type {
      margin-bottom: 20px;
    }
    display: block;
    text-align: left;
    margin-bottom: 0px;
  }
}

// -- FOOTER -- //
.footer, .push {
  height: 60px; // '.push' must be the same height as 'footer'
}
.footer {
  color: $white;
  background-color: $lightGrey;
  position: relative;
  bottom: 0;
  width: 100%;
  a {
    color: $darkGrey;
  }
}
.footer-list {
  list-style: none;
  padding-left: 0;
  padding: 20px 0 0 0;
  text-align: center;
  li {
    //color: $mutedGrey;
    display: inline;
    &:not(:first-child):before {
      content: ' | ';
      padding: 20px;
      color: $darkGrey;
    }
  }
}
// -- CUSTOM SLIDER -- //
.rzslider {
  margin-bottom: 50px;
  margin-top: 20px;
  .rz-tick-legend,
  .rz-bubble {
    display: none;
  }
}
// -- HOME -- //
.home-data {
  h2 {
    font-size: 44px;
    margin: 30px auto;
  }
}
.timer_hdr {
  margin: 80px auto 20px;;
}
.shadowed-lg {
  @include box-shadow($boxShadowColor);
  margin: 0 auto;
  width: 70%;
  padding: 60px 60px 30px;
  .row {
    margin-bottom: 30px;
    .col-xs-2 {
      &:first-of-type {
        margin-left: 4.555555555%;
      }
    }
    h4 {
      font-size: 34px;
    }
    p {
      text-transform: uppercase;;
    }
  }
}

// -- MEDIA QUERIES -- //
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // -- LOGIN & ERROR -- //
  .shadowed-sm {
    width: 50%;
  }
  .shadowed-lg {
    width: 80%;
  }
  // -- HOME -- //
  .home-data {
    h3 {
      margin: 50px auto;
    }
  }
  // -- CUSTOM SLIDER -- //
  .rzslider {
    .rz-tick-legend {
      display: inline-block;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Xtra Large devices (Xlarge desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {}
